<div class="issueDiv">
    <div class="eachIssue">
        <h2>Issues</h2>
    </div>
    <ul id="issueList">
        {{#each issues }}
        <li id={{number}}>
            Title: {{title}}
            <br>
            Body: {{body}}
            <br>
            Comments: {{comments}}
            <br>
            URL: {{link}}
            <br>
            Created: {{created}}
            <br>
            Updated: {{updated}}
            <br>
        </li>
        <br>
        {{else}}
        <h4>No issue to display.</h4>
        {{/each}}
    </ul>
</div>
<div>
    <div id="notifDiv">
        <h3>Notifications</h3>
        <ul id="messages"></ul>
    </div>
</div>
